<div id="homeView" class="home-hero-img hero-img" role="banner">

  <div class="hero-text">
    <div class="hero-pic">
      <img src="/img/FB_IMG_1556739299569.jpg" alt="" />
    </div>
    <h1 style="font-size:50px">Kyle Vanderhoof</h1>
    <p>Musician | Web Developer | Artist</p>
    <button onclick="scrollToElementById('categories')"><i class="fas fa-arrow-down"></i></button>
    <div class="socialButtons" style="font-size: 15px !important;">
      <span class="socialButton">
        <a href="https://www.facebook.com/kyle.vanderhoof" target="_blank" class="fab fa-facebook"></a>
      </span>
      <span class="socialButton">
        <a href="https://www.instagram.com/kylervanderhoof" target="_blank" class="fab fa-instagram"></a>
      </span>
      <span class="socialButton">
        <a href="https://www.youtube.com/channel/UCz3F5m1EiZQmVqLeUX1RvAA" target="_blank"  class="fab fa-youtube"></a>
      </span>
      <span class="socialButton">
        <a href="https://www.linkedin.com/in/kylevanderhoof" target="_blank"  class="fab fa-linkedin"></a>
      </span>
      <span class="socialButton">
        <a href="https://github.com/vanderkyl" target="_blank"  class="fab fa-github"></a>
      </span>
      <span class="socialButton">
        <a href="mailto:vanderhoof10@gmail.com" target="_blank" class="fa fa-envelope"></a>
      </span>
    </div>
  </div>
</div>
<div id="categories" class="col-xs-12">
  <div class="category-div col-xs-12 col-sm-6">
    <div class="category-container dropShadow col-xs-12">
      <div class="category-pic hero-pic col-xs-12" onclick="navigateToURL('/#/music')">
        <img src="/img/music/kyledrums.jpg" alt="" />
      </div>
      <div class="category-text col-xs-12">
        <h3>Music</h3>
      </div>
    </div>

  </div>
  <div class="category-div col-xs-12 col-sm-6">
    <div class="category-container dropShadow col-xs-12">
      <div class="category-pic hero-pic col-xs-12" onclick="navigateToURL('/#/photography')">
        <img src="/img/photography/burntsky.jpg" alt="" />
      </div>
      <div class="category-text col-xs-12">
        <h3>Photography</h3>
      </div>
    </div>
  </div>
  <div class="category-div col-xs-12 col-sm-6">
    <div class="category-container dropShadow col-xs-12">
      <div class="category-pic hero-pic col-xs-12" onclick="navigateToURL('/#/art')">
        <img src="/img/art/moon.jpg" alt="" />
      </div>
      <div class="category-text col-xs-12">
        <h3>Art</h3>
      </div>
    </div>
  </div>

  <div class="category-div col-xs-12 col-sm-6">
    <div class="category-container dropShadow col-xs-12">
      <div class="category-pic hero-pic col-xs-12">
        <img src="/img/dizzybangers.com.png" alt="" />
      </div>
      <div class="category-text col-xs-12">
        <h3>Web Design</h3>
      </div>
    </div>
  </div>

  <div class="category-div col-xs-12 col-sm-6">
    <div class="category-container dropShadow col-xs-12">
      <div class="category-pic hero-pic col-xs-12" onclick="navigateToURL('/#/websites/bandofideas')">
        <img src="/img/bandofideas.com.png" alt="" />
      </div>
      <div class="category-text col-xs-12">
        <h3>Band Of Ideas</h3>
      </div>
    </div>
  </div>
  <div class="category-div col-xs-12 col-sm-6">
    <div class="category-container dropShadow col-xs-12">
      <div class="category-pic hero-pic col-xs-12" onclick="navigateToURL('/#/sandbox')">
        <img src="/img/javascript.png" alt="" />
      </div>
      <div class="category-text col-xs-12">
        <h3>JS Sandbox</h3>
      </div>
    </div>
  </div>
</div>
