<div id="homeView" class="lobby-hero-img hero-img" role="banner">
    <div class="category-container col-xs-12 col-sm-6 col-md-4">
        <div class="category-pic">
            <div class="category-text">
                Photography
            </div>
            <img src="/img/deadwood.jpg" alt="" />
        </div>

    </div>
    <div class="category-container col-xs-12 col-sm-6 col-md-4">
        <div class="category-pic col-xs-12 col-sm-4">
            <img src="/img/FB_IMG_1556739299569.jpg" alt="" />
        </div>
    </div>
</div>