<div id="musicView" class="hero-img" role="banner">
    <div class="hero-text">
        <h1 style="font-size:50px">Music</h1>
        <p>Bands | Songs | Videos</p>
        <button onclick="scrollToElementById('music')"><i class="fas fa-arrow-down"></i></button>
        <button onclick="navigateToURL('/#/')"><i class="fas fa-home"></i></button>
    </div>
</div>

<div id="music" class="col-xs-12" style="margin-top: 10px">
    <div class="category-div col-xs-12 col-sm-6">
        <div class="photo-container dropShadow col-xs-12">
            <img src="/img/art/psychokthulu.png">
        </div>
    </div>

    <div class="category-div col-xs-12 col-sm-6">
        <div class="photo-container dropShadow col-xs-12">
            <img src="/img/art/moon.jpg">
        </div>
    </div>
    <div class="category-div col-xs-12 col-sm-6">
        <div class="photo-container dropShadow col-xs-12">
            <img src="/img/art/snowman.jpg">
        </div>
    </div>
    <div class="category-div col-xs-12 col-sm-6">
        <div class="photo-container dropShadow col-xs-12">
            <img src="/img/art/eye.png">
        </div>
    </div>
    <div class="category-div col-xs-12 col-sm-6">
        <div class="photo-container dropShadow col-xs-12">
            <img src="/img/art/dropinthemind.png">
        </div>
    </div>
    <div class="category-div col-xs-12 col-sm-6">
        <div class="photo-container dropShadow col-xs-12">
            <img src="/img/art/pumpkin.png">
        </div>
    </div>

</div>