<div id="photographyView" class="hero-img" role="banner">
    <div class="hero-text">

        <h1 style="font-size:50px">Photography</h1>
        <p>Outdoors | Animals | Skies</p>
        <button onclick="scrollToElementById('photos')"><i class="fas fa-arrow-down"></i></button>
        <button onclick="navigateToURL('/#/')"><i class="fas fa-home"></i></button>
    </div>
</div>

<div id="photos" class="col-xs-12" style="margin-top: 10px">
    <div class="category-div col-xs-12 col-sm-6">
        <div class="photo-container dropShadow col-xs-12">
            <img src="/img/photography/burntsky.jpg">
        </div>
    </div>
    <div class="category-div col-xs-12 col-sm-6">
        <div class="photo-container dropShadow col-xs-12">
            <img src="/img/photography/sky.jpg">
        </div>
    </div>
    <div class="category-div col-xs-12 col-sm-6">
        <div class="photo-container dropShadow col-xs-12">
            <img src="/img/photography/lizard.jpg">
        </div>
    </div>
    <div class="category-div col-xs-12 col-sm-6">
        <div class="photo-container dropShadow col-xs-12">
            <img src="/img/photography/seagulls.jpg">
        </div>
    </div>

    <div class="category-div col-xs-12 col-sm-6">
        <div class="photo-container dropShadow col-xs-12">
            <img src="/img/photography/deadwood.jpg">
        </div>
    </div>
    <div class="category-div col-xs-12 col-sm-6">
        <div class="photo-container dropShadow col-xs-12">
            <img src="/img/sandbox.jpg">
        </div>
    </div>
    <div class="category-div col-xs-12 col-sm-6">
        <div class="photo-container dropShadow col-xs-12">
            <img src="/img/photography/lightning.JPG">
        </div>
    </div>
</div>