<div id="sandboxView" class="hero-img" role="banner">

    <div class="hero-text">
        <h1 style="font-size:50px">Javascript Sandbox</h1>
        <p>Random JS Projects</p>
        <button onclick="scrollToElementById('bouncyBallsContainer')"><i class="fas fa-arrow-down"></i></button>
        <button onclick="navigateToURL('/#/')"><i class="fas fa-home"></i></button>
    </div>
</div>

<div id="bouncyBallsContainer" class="sandbox-container col-xs-12">
    <bouncy-balls></bouncy-balls>
</div>

<div id="sandbox2" class="sandbox-container col-xs-12">

</div>

<script type="text/javascript">

</script>